:root {
    --primary: #BFDBFE;
    --black: #333333;
    --width-break: 600px;
}
body {
    margin: 0;
    font-family: 'Roboto', cursive;
    color: #333333;
}
nav{background-color: var(--primary);
    text-align: center;}
.nav-title{
    font-size: 2rem;
    padding: 1rem;
}

main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    border: 1px solid var(--black);
}
button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Roboto', cursive;
    font-size: large;
}
#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}
.footer-head{font-size: x-large;}
footer p {
    max-width: var(--width-break);
    margin: auto;
}